---
import CTAButton from './CTAButton.astro';
---

<section class='w-full py-20'>
    <div
        class='container max-w-screen-xl mx-auto px-4 flex flex-col items-center text-center gap-10'
    >
        <h2 class='mb-6'>Welcome to the Creators Club</h2>
        <p class='mb-8 text-white/80 text-lg'>
            The Creators Club isn't just a platform; it's your kickstart to
            becoming a Next-Gen Video Creator. With over 60 hours of the most
            comprehensive editing tutorials available, a supportive community,
            and regular updates, you'll gain everything you need to thrive.
        </p>
        <img
            src='https://creators-club.com/wp-content/uploads/mockup-1.png'
            alt='Creators Club Mockup'
            class='rw-full object-contain shadow-2xl mb-6'
        />
        <CTAButton href='#'>Join the Club Now</CTAButton>
        <h3 class='mt-12 mb-4'>But it's more than just technical skills.</h3>
        <p class='text-white/80 text-lg mx-auto mb-2'>
            It's not only about learning how to create sick edits, but how to
            position yourself as a professional, and how to build a successful
            Creator Brand to attract your dream clients. It's also about
            transforming your passion into a career that fuels your creativity
            and your income.
        </p>
        <p class='text-white/80 text-lg mx-auto mb-2'>
            This is where your journey changes. With step-by-step guidance,
            insider knowledge, a supportive community and access to exclusive
            project files, you'll learn not just how to edit—but how to create
            sick content that stands out in a crowded marketplace.
        </p>
        <p class='text-white/80 text-lg mx-auto'>
            Dial in your niche, showcase your best work, and leverage short-form
            content to turn views into business opportunities.
        </p>
        <h3 class='mt-12 mb-4'>
            There is a MASSIVE opportunity for those who learn this skill
            immediately
        </h3>
        <CTAButton href='#'>Join the Creators Club Now</CTAButton>
    </div>
</section>
